.abc
{
	background-color: red;
}
.aa
{
	background-color: yellow;
}
.bb
{
	background-color: violet;
}
.abs
{
	background-color: grey;
	border: 5px groove black;
}
 .col2
{
	border-color: yellow;
}

.a11
{
	border: 2px solid green;
}
.a
{
	background-color: lightblue;

}
.b
{
	background-color: lightblue;

}